# Allow init to "wait" for partitions
allow qti_init_shell block_device:dir search;

# Required for FM
allow qti_init_shell apk_data_file:dir rw_dir_perms;
allow qti_init_shell apk_data_file:file create_file_perms;

# Needed by init.mmi.boot.sh
allow qti_init_shell utags_block_device:blk_file r_file_perms;

# Needed by init.mmi.touch.sh
allow qti_init_shell blkid_exec:lnk_file r_file_perms;

# Needed by init.qcom.bt.sh
allow qti_init_shell bluetooth_data_file:file r_file_perms;
allow qti_init_shell bluetooth_loader_exec:file r_file_perms;
allow qti_init_shell hci_attach_dev:chr_file rw_file_perms;
